<div class="Boxtable">
  <table class="Table">
    <thead>
      <tr class="tabletitle">
        <td class="itemID">USER ID</td>
        <td class="itemID">ID</td>
        <td class="itemsTITLE">TITLE</td>
        <td class="itemsCOMP">COMPLETED</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let forToDo of ToDo ">
        <td class="itemID">{{forToDo.userId}}</td>
        <td class="itemID">{{forToDo.id}}</td>
        <td class="itemsTITLE">{{forToDo.title}}</td>
        <td class="itemsCOMP">{{forToDo.completed}}</td>
      </tr>
    </tbody>
  </table>
</div>