.Table {
  font-size: 1rem;
  width: auto;
  border-collapse: collapse;
  font-size: 1.2rem;
  text-transform: capitalize;
}
.Table thead tr {
  background-color: #2c748d;
  color: #ffffff;
  text-align: left;
}
.Table tbody tr {
  border-bottom: 1px solid #55bdc1;
}

.Table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.Table tbody tr:last-of-type {
  border-bottom: 2px solid #2c748d;
}

.Table tbody tr.active-row {
  font-weight: bold;
  color: #2c748d;
}

.Boxtable h3 {
  text-align: right;
  text-transform: uppercase;
}

.itemID {
  width: 5rem;
  text-align: center;
}
.itemsTITLE {
  width: auto;
  text-align: left;
}
.itemsCOMP {
  text-align: center;
}
